// COLORS
$primary-color: #fad78c;
$primary-color-gradient: #e3c37e;
$white: #e4e4e4;

// BODY
$body-color: #000000;
$body-bg-opacity: .5;

// HEADER
$header-height: 87px;
$header-height-mobile: 70px;
$header-bg: #050505;

// FILTERS
$filters-height-mobile: 100vh;
$filters-bg: #101010;

// VIDEO
$video-bg: #020202;
$video-bg-mobile: #151515;
$video-opacity:.8;

//icons
$save-icon-size: 18px;
$save-icon-size-big: 30px;